<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
  </head>
  <body>
    <header>
      <nav>
          <ul>
              <li>
                  {% if user.is_authenticated %}
                  <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                  <a href="{% url 'list_projects' %}">My Projects</a>
                  <a href="{% url 'logout' %}">Logout</a>

                  {% else %}
                  <a href="{% url 'login' %}">Login</a>
                  <a href="{% url 'signup' %}">Sign Up</a>
                  {% endif %}
              </li>
          </ul>
      </nav>
  </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>
