{% extends 'base.html' %}
{% block content %}
        <main>
            <div>
                <h1>My Tasks</h1>
                {% if tasks.all|length == 0 %}
                    <p>You have no tasks</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for task in tasks.all %}
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>{{ task.is_completed|yesno }}</td>
                                {% endfor %}
                                </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
{% endblock content %}
