{% extends 'base.html' %}
{% block content %}
        <main>
            <div>
                <h1>{{ projects.name }}</h1>
                <p> {{ projects.description }} </p>
                <h2>Tasks</h2>
                <p>
                    <a href="{% url 'create_task' %}">Create a New Task</a>
                </p>
                {% if projects.tasks.all|length == 0 %}
                    <p>This project has no tasks</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for tasks in projects.tasks.all %}
                                    <td>{{ tasks.name }}</td>
                                    <td>{{ tasks.assignee }}</td>
                                    <td>{{ tasks.start_date }}</td>
                                    <td>{{ tasks.due_date }}</td>
                                    <td>{{ tasks.is_completed|yesno }}</td>
                                {% endfor %}
                            </tr>
                        <tbody>
                    </table>
                {% endif %}
            </div>
        </main>
{% endblock content %}
